* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.npy binary
*.npz binary
*.pt binary
*.pth binary
*.ckpt binary
*.h5 binary
*.hdf5 binary
*.geojson text
*.yml text
*.yaml text
